/* General App Styling */
.app-container {
  max-width: 800px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.app-title {
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Card Style */
.card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  text-align: center;
}

/* Form Styling */
.form input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border: 3px solid #9b9595;
  border-radius: 6px;
}

.form button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.form button:hover {
  background-color: #2980b9;
}

/* List Styling */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: #d8d3d3;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
}
*{
  justify-content: center;
  background-color: rgb(235, 241, 240);
}